
<div class="text-center">
	<h1>Results</h1>
	<br>
</div

<div class="container">
<table class="table table-striped table-bordered table-condensed table-hover ">
	<thead>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>Salary $</th>
			<th>Travel Fees $</th>
			<th>Organization</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<% @result.each do |row| %>
		<tr>
			<td>
				<%=
					# split either by white space or comma
					# then capitalize the first letter of every word
					row_name = row.name.split(/[\s,]/).map(&:capitalize)
					# join depending on if they have a middle name or not
					if row_name.size > 2
						row_name = "#{row_name[0, 2].join(',')} #{row_name[2, row_name.size].join(' ')}"
					elsif row_name.size == 2
						row_name = "#{row_name.join(',')}"
					else
						row_name
					end
				%>
			</td>
			<td><%= row.title.split(/[\s,]/).map(&:capitalize).join(' ') %></td>
			<td class='text-right'>
				<%= 
					# round to 2 decimal places
					sprintf '%.2f', row.salary
				%>
			</td>
			<td class='text-right'><%= sprintf '%.2f', row.travel_fees %></td>
			<td><%= row.organization.split(/[\s,]/).map(&:capitalize).join(' ') %></td>
			<td><%= row.year %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div>

<div class="text-center">
	<button class="btn btn-default">
		<%= link_to 'Search again', '/index' %>
	</button>
</div