<div class="text-right">
	<p><%= mail_to 'chrisngn3@gmail.com', 'Email me @' %></p>
</div>


<div>
	<% form_tag '/index' do %>
	<%= label_tag "Name " %> 
	<%= select(:employee_option, :option_id, [['Equals', 1], ['Contains', 2]]) %>
	<%= text_field_tag :employee_name %>
	<br>
  <%= label_tag "Title " %>
  <%= select(:employee_option, :option_id, [['Equals', 1], ['Contains', 2]]) %>
	<%= text_field_tag :title %>
	<br>
  <%= label_tag "Organization " %>
	<%= select(:employee_option, :option_id, [['University of Georgia', 1], ['Georgia Institute of Technology', 2]]) %>
	<br>
  <%= label_tag "Year " %>
	<%= text_field_tag :year %>
	<br>
  <%= submit_tag "Send input" %>
	<% end %>
</div>